<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400" rel="stylesheet">
  <link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
  <div class="header">
    <span>Spoyl-SSR-Project</span>
  </div>
  <div class="main">
    ​
    <div class="container">
      <div class="group">
        <form method='POST' action='/post'>
          <input type="text" name="searchTerm" required>
          <button class="btn" type="submit">
            <span>Search</span>
          </button>
          <span class="bar"></span>
        </form>
      </div>
    </div>
    <div class="container-grid">

    </div>
  </div>

  <script src="javascripts/script.js"></script>
</body>

</html>