<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="header">
        <span>Spoyl-SSR-Project</span>
      </div>
      <div class="main">
        ​
        <div class="container">
          <div class="group">
            <input type="text" placeholder='<%= query %>' required>
            <button class="btn" type="button">
              <span>Search</span>
            </button>
            <span class="bar"></span>
          </div>
        </div>
        <div class="container-grid">
    
        </div>
      </div>
    
    </body>
</html>
